{
    "mode": "development",
    "address": ":6060",
    "database": {
        "mysql": {
            "host": "MYSQL_HOST",
            "port": "MYSQL_PORT",
            "user": "MYSQL_USER",
            "pass": "MYSQL_PASS",
            "db": "MYSQL_DBNAME",
            "parseTime": "1"
        },
        "mongo": {
            "host": "MYSQL_HOST",
            "port": "MYSQL_PORT",
            "user": "MYSQL_USER",
            "pass": "MYSQL_PASS",
            "db": "MYSQL_DBNAME",
            "dbauth": "MYSQL_DBAUTH",
            "url": "MSYQL_URL"
        }
    },
    "smtp": {
        "host": "SMTP_HOST",
        "port": "SMTP_PORT",
        "auth": "SMTP_AUTH",
        "name": "SMTP_SENDER_NAME",
        "address": "SMTP_ADDRESS",
        "username": "SMTP_USERNAME",
        "password": "SMTP_PASSWORD",
        "secure": "SMTP_SECURE"
    },
    "timeout": {
        "context": 10,
        "forget_password_token": 180000,
        "jwt":2592000
    },
    "key": {
        "jwt": "JWT_KEY",
        "admin_cred": {
            "email": "ADMIN_EMAIL",
            "username": "ADMIN_USERNAME",
            "password": "ADMIN_PASSWORD
        },
        "default_lang": "en",
        "timezone": "Asia/Jakarta"
    },
    "default_unhandled_error": "Unhandled error. Please try again.",
    "cloudinary": {
        "user":"CLOUDINARY_USER",
        "key":"CLOUDINARY_KEY",
        "secret":"CLOUDINARY_SECRET",
        "projectName": "CLOUDINARY_NAME"
    }
}